<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>
	
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory name="Sys.Dal">
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">Data Source=.;Initial Catalog=PAMS;User ID=sa;Password=123sa;</property>
			<property name="show_sql">false</property>
			<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
			<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
			<property name="proxyfactory.factory_class">NHibernate.Bytecode.DefaultProxyFactoryFactory, NHibernate</property>
			<property name="hbm2ddl.keywords">none</property>
			<mapping assembly="ZYPasswordManager" />
		</session-factory>
	</hibernate-configuration>
</configuration>